<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <style>
            table{
                border: solid gray;
                width: 100%;
                border-collapse: collapse;
                background-color: rgb(211,211,211);
            }
            td, th{
                border-width: 0px 2px 2px 0px;
                border-style:  solid;
                border-color: #dddddd;
            }
            </style>
    </head>
    <header>
      <img src="LOGO" class="logo"/>
    </header>
    <body>
        <div>
            <table>
                <td align="center">
                    <h2>Voc&ecirc; foi covidado a se cadastrar no portal de compras EMPRESA. Acesse <a href="LINK">aqui</a> para se cadastrar!</h2>
                </td>
            </table>
        </div>
    </body>    
</html>