<po-page-default>
    <form [formGroup]="reactiveForm">
        <div class="po-row">
            <div class="po-sm-12">
                <div class="po-row po-offset-3">
                    <po-input class="po-sm-4" name="login" p-label="Usuário" formControlName="user" p-clean
                        p-focus="true" p-icon="po-icon-user" p-label="Código do Usuário"
                        p-help="Digite o código da Usuário">
                    </po-input>
                </div>
                <div class="po-row po-offset-3">
                    <po-password class="po-sm-4" name="senha" p-label="Senha" formControlName="pass" p-clean
                        p-focus="true" p-icon="po-icon-user" p-label="senha" p-help="Digite a senha Usuário">
                    </po-password>
                </div>
                <div class="po-row po-offset-5">
                    <re-captcha class="g-recaptcha po-sm-2" (resolved)="resolved($event)" (error)="onError($event)"
                        [siteKey]="siteKey" errorMode="handled"></re-captcha>
                </div>
                <div class="po-row po-offset-3">
                    <po-button class="po-sm-2" p-label="Entrar" [p-disabled]="!captchaSolved" (click)="onClick()">
                    </po-button>
                    <po-button class="po-sm-2" p-label="Esqueci a senha" (p-click)="resetPass()"></po-button>
                </div>
            </div>
        </div>
    </form>
</po-page-default>